@import "compass/css3";
@import "compass/reset";
@import "compass/utilities/general/clearfix";

@mixin text-font($size) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $size;
  line-height: $size+2;
}

@mixin header-font($size) {
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: $size;
  line-height: $size+2;
  text-shadow: 1px 1px 1px white;
}

@mixin clear-after {
  *zoom: 1;

  &:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }
}

@mixin cool-hover {
  @include filter(grayscale(1));
  @include scale(0.8);
  @include transition(all 0.2s);

  position: relative;
  outline: none;

  &:hover,
  &:focus { @include filter(grayscale(0)); @include scale(1); }

  &:active { top: 4px; }
}

$border-color: silver;
$content-color: #fefffe;
$header-color: #e6efff;

body {
  @include text-font(16px);
  background: #d2d2d2 image-url("background.png");
}

a { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }

article {
  @include border-radius(5px);
  @include box-shadow(0 0 7px #555555);

  width: 90%;
  min-width: 310px;
  max-width: 440px;
  margin: 20px auto;
  padding-bottom: 20px;
  background: $content-color;
  border: 1px solid #eeeeee;

  header { @include clearfix; @include border-radius(5px 5px 0 0); padding: 20px; background: $header-color; border-bottom: 1px solid $border-color; }
  header img { @include border-radius(100%); @include box-shadow(0 0 3px #555555); float: left; margin-right: 18px; }

  header h1 { @include header-font(30px); margin-top: 20px; }
  header h2 { @include header-font(18px); margin: 12px 0 5px; }
  header h3 { @include header-font(20px); }

  section { padding: 20px 20px 0; }
  section h3 { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px dashed $border-color; }

  @media all and (max-width: 460px) {
    header h2 { display: none; }
  }
}

.links {
  ul { @include clear-after; text-align: center; }
  ul li { @include inline-block; float: left; width: 100px; padding: 10px 0; }

  @media all and (max-width: 377px) {
    ul li { float: none; width: 120px; padding: 20px 0; }
  }

  a { @include cool-hover; @include inline-block; height: 60px; }

  a:hover strong,
  a:focus strong { @include opacity(1); display: block; }

  a strong:before {
    @include transform(rotate(45deg));

    top: -7px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    content: ' ';
    width: 16px;
    height: 16px;
    background: #000000;
  }

  a strong {
    @include box-shadow(0px 0px 4px 2px #eeeeee);
    @include opacity(0);
    @include transition(opacity 0.3s);
    @include border-radius(30px);
    bottom: -55px;
    position: absolute;
    padding: 10px 20px;
    white-space: nowrap;
    background: #000000;
    color: white;
  }

  a.github { background: image-url("icons.png") 0 0; width: 68px; }
  a.github strong { left: -34px; }

  a.twitter { background: image-url("icons.png") 0 -120px; width: 85px; }
  a.twitter strong { left: -26px; }

  a.speakerdeck { background: image-url("icons.png") 0 -60px; width: 74px; }
  a.speakerdeck strong { left: -56px; }

  a.slideshare { background: image-url("icons.png") 0 -180px; width: 60px; }
  a.slideshare strong { left: -51px; }
}

.projects {
  @include clearfix;

  h4 { @include header-font(18px); padding: 5px 0 7px; }

  div { min-height: 80px; clear: both; }
  div + div { margin-top: 10px; }

  a img { @include cool-hover; @include border-radius(100%); float: left; margin: 0 10px 10px 0; }
}

.project-4beats {
  header img { @include box-shadow(none); @include border-radius(0px); }
  div { text-align: center; }
  div img { width: 95%; margin-top: 10px; border: 1px solid black; }
}
