html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  background: #d2d2d2 url(/assets/images/background.png); }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

article {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px #555555;
  -moz-box-shadow: 0 0 7px #555555;
  box-shadow: 0 0 7px #555555;
  width: 90%;
  min-width: 310px;
  max-width: 440px;
  margin: 20px auto;
  padding-bottom: 20px;
  background: #fefffe;
  border: 1px solid #eeeeee; }
  article header {
    overflow: hidden;
    *zoom: 1;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    background: #e6efff;
    border-bottom: 1px solid silver; }
  article header img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 1px 5px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 1px 5px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 1px 5px rgba(255, 255, 255, 0.6);
    float: left;
    margin-right: 18px; }
  article header h1 {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 30px;
    line-height: 32px;
    text-shadow: 1px 1px 1px white;
    margin-top: 20px; }
  article header h2 {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-shadow: 1px 1px 1px white;
    margin: 12px 0 5px; }
  article header h3 {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-shadow: 1px 1px 1px white; }
  article section {
    padding: 20px 20px 0; }
  article section h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed silver; }
  @media all and (max-width: 460px) {
    article header h2 {
      display: none; } }

.links ul {
  *zoom: 1;
  text-align: center; }
  .links ul:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden; }
.links ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: left;
  width: 100px;
  padding: 10px 0; }
@media all and (max-width: 377px) {
  .links ul li {
    float: none;
    width: 120px;
    padding: 20px 0; } }
.links a {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  height: 60px; }
.links a:active {
  top: 2px; }
.links a:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0); }
.links a:hover strong {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: block; }
.links a strong:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -7px;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  content: ' ';
  width: 16px;
  height: 16px;
  background: #000000; }
.links a strong {
  -webkit-box-shadow: 0px 0px 4px 2px #eeeeee;
  -moz-box-shadow: 0px 0px 4px 2px #eeeeee;
  box-shadow: 0px 0px 4px 2px #eeeeee;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  bottom: -55px;
  position: absolute;
  padding: 10px 20px;
  white-space: nowrap;
  background: #000000;
  color: white; }
.links a.github {
  background: url(/assets/images/icons.png) 0 0;
  width: 68px; }
.links a.github strong {
  left: -34px; }
.links a.twitter {
  background: url(/assets/images/icons.png) 0 -120px;
  width: 85px; }
.links a.twitter strong {
  left: -26px; }
.links a.speakerdeck {
  background: url(/assets/images/icons.png) 0 -60px;
  width: 74px; }
.links a.speakerdeck strong {
  left: -56px; }
.links a.slideshare {
  background: url(/assets/images/icons.png) 0 -180px;
  width: 60px; }
.links a.slideshare strong {
  left: -51px; }

.projects {
  overflow: hidden;
  *zoom: 1; }
  .projects h4 {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-shadow: 1px 1px 1px white;
    padding: 5px 0 7px; }
  .projects div {
    min-height: 80px;
    clear: both; }
  .projects div + div {
    margin-top: 10px; }
  .projects a img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    float: left;
    margin: 0 20px 10px 0; }
  .projects a:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .projects a:active img {
    -webkit-transform: translatey(2px);
    -moz-transform: translatey(2px);
    -ms-transform: translatey(2px);
    -o-transform: translatey(2px);
    transform: translatey(2px); }
