doctype html

html
  meta charset="utf-8"

  title Radoslav Stankov

  link href="/assets/stylesheets/home.css" media="screen" rel="stylesheet" type="text/css"

  meta name="robots" content="index,follow,noydir,noodp"
  meta name="viewport" content="initial-scale = 1.0"
  meta name="description" content="Bulgarian web developer"

  meta property="og:site_name" content="Radoslav stankov"
  meta property="copyright" content="(c) #{Date.today.year} Copyright: Radoslav Stankov"
  meta property="og:title" content="Radoslav Stankov"
  meta property="og:type" content="website"
  meta property="og:url" content="http://rstankov.com"
  meta property="og:image" content="http://rstankov.com/assets/images/me.jpg"
  meta property="og:description" content="Bulgarian web developer"

  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-11273010-1', 'auto');
    ga('send', 'pageview');

  article
    header
      img src="/assets/images/me.jpg" alt="Radoslav Stankov" width="100" height="100"
      h1 Radoslav Stankov
      h2 Web developer @ <a href="https://www.producthunt.com/" target="_blank">Product Hunt</a>

    section.links
      h3 Me on the web:
      ul
        li <a href="http://blog.rstankov.com" class="ghost" target="_blank"><strong>My blog</strong></a>
        li <a href="https://github.com/rstankov" class="github" target="_blank"><strong>Me at GitHub</strong></a>
        li <a href="https://twitter.com/rstankov" class="twitter" target="_blank"><strong>Me at Twitter</strong></a>
        li <a href="https://speakerdeck.com/rstankov" class="speakerdeck" target="_blank"><strong>Me at Speaker Deck</strong></a>

    section.projects
      h3 Projects:
      div
        a href="https://www.meetup.com/React-Sofia/" target="_blank"
          img src="/assets/images/meetup.jpg" width="80" alt="Meetup"

        h4
          a href="https://www.meetup.com/React-Sofia/" target="_blank" React.Sofia

        p Developer Meetup in Sofia (Bulgaria).

      div
        a href="http://react-not-a-conf.com/" target="_blank"
          img src="/assets/images/react_not_a_conf.png" width="80" alt="Meetup"

        h4
          a href="http://react-not-a-conf.com/" target="_blank" &lt;React.NotAConf /&gt;

        p Not exactly a conference about React in Sofia (Bulgaria).

    section.projects
      h3 Legacy projects:
      div
        a href="http://varnaconf.com" target="_blank"
          img src="/assets/images/varnaconf.png" width="80" height="79" alt="VarnaConf"

        h4
          a href="http://varnaconf.com" target="_blank" VarnaConf

        p Developer conference in Varna (Bulgaria). Part of <a href="http://it-tour.bg" target="_blank">IT Tour</a>.
      div
         a href="4beats.html"
           img src="/assets/images/4beats.png" width="80" height="80" alt="4Beats app"

         h4
           a href="4beats.html" 4Beats

         p iOS7 Loop Sequencer app.

